<app-navbar></app-navbar>
<div *ngIf="tasks.length > 0; else noTasks" class="overflow-x-auto">
    <table class="min-w-full divide-y divide-gray-200">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Title</th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Description</th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Due Date</th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Priority</th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Actions</th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        <tr *ngFor="let task of tasks">
          <td class="px-6 py-4 whitespace-nowrap">{{ task.title }}</td>
          <td class="px-6 py-4 whitespace-nowrap">{{ task.description }}</td>
          <td class="px-6 py-4 whitespace-nowrap">{{ task.dueDate | date }}</td>
          <td class="px-6 py-4 whitespace-nowrap">
            <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800" *ngIf="task.priority === 'low'">
              Low
            </span>
            <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-yellow-800" *ngIf="task.priority === 'medium'">
              Medium
            </span>
            <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800" *ngIf="task.priority === 'high'">
              High
            </span>
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            <button (click)="openUpdateModal(task)" class="text-indigo-600 hover:text-indigo-900">Update</button>
            <button (click)="confirmDelete(task._id)" class="text-red-600 hover:text-red-900 ml-2">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <ng-template #noTasks>
    <p class="text-gray-500">No tasks have been created.</p>
  </ng-template>
  